<section id="mainTableSection" class="w-full h-full flex flex-col items-center">
    <!-- Tabla de la agenda -->
    <article class="w-full">
        <app-agenda-table></app-agenda-table>
    </article>

    <!-- Boton para mostrar formulario de crear nota -->
    <app-button (click)="toggleCreateFormPopup()"></app-button>

    @if (createFormState) {
        <!-- Formulario para crear nota -->
        <app-create-form
                            (close)="toggleCreateFormPopup()">
        </app-create-form>
    }
</section>




<router-outlet></router-outlet>
